*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: linen;
  font-family: sans-serif;
  color: #777;
}
.container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap:20px;
	width: 90%;
	margin: auto;
}
.box{
	color: #fff;

	display: flex;
	height: 300px;	
	justify-content: center;
	align-items: center;
	font-size: 25px;
	box-shadow: 7px 8px 5px #999;
}
.first{
	background: lightsteelblue;
}
.sec{
	background: wheat;
}
.tre{
	background: mediumslateblue;
}
.fou{
	background: slategray;
}

