*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: linen;
  font-family: sans-serif;
  color: #777;
}
.container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap:20px;
	width: 90%;
	margin:70px auto;
}
.box{
	color: #36486b;
	display: flex;
	text-transform: capitalize;
	height: 270px;	
	justify-content: center;
	align-items: center;
	font-size: 25px;
	border: 4px solid azure;
}
.first{
	background: #d5f4e6;
}
.sec{
	background: #80ced6;
}
.tre{
	background: #fefbd8;
}
.fou{
	background: #618685;
}

